{% extends 'base.html' %}

{% block content %}



<h1>Time Table</h1>
<table class="table">
  <thead>
    <tr>
     
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Favorite</th>
      <th scope="col">Month</th>
     <th scope="col">Day</th>
      <th>Completed</th>
      <th>Add</th>
      <th>View</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     
        {% for todo in todos %}
      <th scope="row">{{ todo.id }}</th>
      <td>{{ todo.title }}</td>
      <td>{{ todo.favorite }}</td>
      <td>{{ todo.month }}</td>
      <td>{{ todo.day }}</td>
      <td>{{ todo.completed }}</td>
      <td><a href="{% url 'add'  %}" class="btn btn-success btn-sm"><i class="bi bi-plus-square"></i> Add</a></td>
      <td><a href="{% url 'details' todo.id %}" class="btn btn-primary btn-sm"><i class="bi bi-view-list"></i> View</a></td>
      <td><a href="{% url 'update' todo.id %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i> Update</a></td>
      <td><a href="{% url 'delete' todo.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i>Delete</a></td>
    </tr>

    {% endfor %}
 
    
    
  </tbody>
</table>

 <div class="pagination mt-5 d-flex justify-content-center">
        {% if todos.has_previous %}
        <a href="?page={{ todos.previous_page_number }}" class="page-link mx-3 rounded-pill "> Previous</a>
        {% endif %}

  <h3>Page {{ todos.number }} of {{ todos.paginator.num_pages }}</h3>

        {% if todos.has_next %}
        <a href="?page={{ todos.next_page_number }}" class="page-link ms-3 rounded-pill"> Next</a>
        {% endif %}
    </div>

{% endblock %}